<div id="zoeken-menu">
  <span id="verwijderen"
    ><a href="/verwijderen"><i class="fas fa-trash"></i></a
  ></span>
  <span id="instellingen"
    ><a href="/wijzigen"><i class="fas fa-cog"></i></a
  ></span>
</div>

<h1>Welkom terug, <%= gebruikersLijst.naam %>!</h1>
<p class="home dashboard">Bekijk je profiel hieronder</p>

<div class="card">
  <div>
    <section>
      <span
        ><h2><%= gebruikersLijst.naam %></h2>
        <p>(<%= gebruikersLijst.leeftijd %>)</p></span
      >
    </section>

    <section>
      <img
        src="<%= gebruikersLijst.img %>"
        alt="Geen gekozen profielfoto"
        class="avatarimg"
      />
    </section>

    <section>
      <p><%= gebruikersLijst.bio %></p>
    </section>
  </div>

  <div>
    <section>
      <img
        src="img/console/<%= gebruikersLijst.console %>.svg"
        alt="Logo van de console"
        class="consoleimg"
      />
    </section>

    <section>
      <span
        ><i class="fab fa-whatsapp-square"></i>
        <a href="https://wa.me/31<%= gebruikersLijst.telefoon %>"
          >0<%= gebruikersLijst.telefoon %></a
        ></span
      >
    </section>

    <section>
      <img
        src="img/game/<%= gebruikersLijst.game1 %>.svg"
        alt="Logo van de game"
        class="gameimg"
      />
      <img
        src="img/game/<%= gebruikersLijst.game2 %>.svg"
        alt="Logo van de game"
        class="gameimg"
      />
      <img
        src="img/game/<%= gebruikersLijst.game3 %>.svg"
        alt="Logo van de game"
        class="gameimg"
      />
      <img
        src="img/game/<%= gebruikersLijst.game4 %>.svg"
        alt="Logo van de game"
        class="gameimg"
      />
    </section>
  </div>
</div>

<form method="POST" action="/logout">
  <input class="uitloggen" value="Log out" type="submit" />
</form>

