<div class="hometerug">
  <span id="terug"
    ><a href="/"><i class="fas fa-chevron-left"></i></a
  ></span>
</div>

<h1>Favorieten</h1>

<%gebruikersLijst.forEach(gebruiker => {%>
<div class="card" data-aos="fade-up">
    <div>
        <section>
            <span><h2><%= gebruiker.naam %></h2> <p>(<%= gebruiker.leeftijd %>)</p></span>
        </section>

        <section>
            <img src="/uploads/<%= gebruiker.img %>" alt="Geen gekozen profielfoto" class="avatarimg"/>
        </section>

        <section>
            <p><%= gebruiker.bio %></p>
        </section>

    </div>


    <div>
        <section>
            <img src="img/console/<%= gebruiker.console %>.svg" alt="Logo van de console" class="consoleimg"/>
        </section>

        <section>
            <span><i class="fab fa-whatsapp-square"></i> <a href="https://wa.me/31<%= gebruiker.telefoon %>">0<%= gebruiker.telefoon %></a></span>
        </section>

        <section>
            <img src="img/game/<%= gebruiker.game1 %>.svg" alt="Logo van de game" class="gameimg"/>
            <img src="img/game/<%= gebruiker.game2 %>.svg" alt="Logo van de game" class="gameimg"/>
            <img src="img/game/<%= gebruiker.game3 %>.svg" alt="Logo van de game" class="gameimg"/>
            <img src="img/game/<%= gebruiker.game4 %>.svg" alt="Logo van de game" class="gameimg"/>
        </section>

    </div>

    </div>
<%})%>
