<div id="zoeken-menu">
  <span id="terug">
    <a href="/"><i class="fas fa-chevron-left"></i></a>
  </span>
</div>

<div class="fortnite">
  <h1>Speciale Fortnite bundels</h1>
  <p>
    Speciaal voor de gebruikers van GameBuddy, zeldzame Fortnite bundels. De
    bundels zijn niet verkrijgbaar in de store van Fortnite. De De bundels zijn
    alleen verkrijgbaar in de app GameBuddy. Log in om een bundel aan te
    schaffen.
  </p>

  <ul>
    <li><img src="<%= img0 %>" /></li>
    <% array0.forEach(function(array0){ %>
    <li><%= array0 %></li>
    <% }); %>
    <li><a href="/login">Log in om te kopen</a></li>
    <li><a href="https://fortnitetracker.com/shop">Kopen</a></li>
  </ul>

  <ul>
    <li><img src="<%= img1 %>" /></li>
    <% array1.forEach(function(array1){ %>
    <li><%= array1 %></li>
    <% }); %>
    <li><a href="/login">Log in om te kopen</a></li>
    <li><a href="https://fortnitetracker.com/shop">Kopen</a></li>
  </ul>

  <ul>
    <li><img src="<%= img2 %>" /></li>
    <% array2.forEach(function(array2){ %>
    <li><%= array2 %></li>
    <% }); %>
    <li><a href="/login">Log in om te kopen</a></li>
    <li><a href="https://fortnitetracker.com/shop">Kopen</a></li>
  </ul>

  <ul>
    <li><img src="<%= img3 %>" /></li>
    <% array3.forEach(function(array3){ %>
    <li><%= array3 %></li>
    <% }); %>
    <li><a href="/login">Log in om te kopen</a></li>
    <li><a href="https://fortnitetracker.com/shop">Kopen</a></li>
  </ul>

  <ul>
    <li><img src="<%= img4 %>" /></li>
    <% array4.forEach(function(array4){ %>
    <li><%= array4 %></li>
    <% }); %>
    <li><a href="/login">Log in om te kopen</a></li>
    <li><a href="https://fortnitetracker.com/shop">Kopen</a></li>
  </ul>
</div>
