<div id="zoeken-menu">
  <span id="terug">
    <a href="/"><i class="fas fa-chevron-left"></i></a>
  </span>
</div>

<div class="fortnite">
  <h1>Speciale Fortnite bundels</h1>
  <p>
    Speciaal voor de gebruikers van GameBuddy, zeldzame Fortnite bundels. De
    bundels zijn niet verkrijgbaar in de store van Fortnite. De De bundels zijn
    alleen verkrijgbaar in de app GameBuddy. Log in om een bundel aan te
    schaffen.
  </p>

  <p>Scroll naar rechts om de bundels te zien</p>

  <section>
    <%for (var i = 0; i < fortniteData.length; i++) {%>
    <ul>
      <li><%= fortniteData[i].item.type %></li>
      <li><img src="<%= fortniteData[i].item.images.background %>" /></li>
      <li><%= fortniteData[i].item.name %></li>
      <li><%= fortniteData[i].item.description %></li>
      <li><a href="<%= knopUrl %>"><%= knop %></a></li>
    </ul>
    <%}%>
  </section>
</div>
